<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitud de revisión</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Solicitud de revisión</h1>
        </div>
        <div class="row">
            <p>Hola estimado usuario <b>{{usuario}}</b>.
            Se te recuerda que aún no has realizado la revisión de la publicación {{publicacion.titulo}} 
            por lo que te pedimos realizarla lo más pronto posible.</p>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</html>