{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Lista de Usuarios Revisores
{% endblock titulo %}

{% block encabezado %}
<div class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-9">
            Lista de Usuarios Revisores
        </div>
        <div class="col-md-auto">
            <div class="col-md-auto">
                <a class="btn btn-secondary btn-lg" href="{% url 'gestion_publicaciones:detalle_publicacion' publicacion.id %}">Cancelar</a>
            </div>
        </div>
    </div>
</div> 
{% endblock encabezado %}

{% block contenido %}
<div class="card mb-4">
    <div class="card-body">
        <form action="{% url 'gestion_publicaciones:agregar_revisores' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="publicacion" value="{{publicacion.id}}">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Nombre de usuario</th>
                        <th>Correo</th>
                        <th>Selección</th>
                    </tr>
                </thead>
                <tbody>
                    {% for revisor in revisores %}
                    <tr>
                        <td>{{revisor.id}}</td>
                        <td>{{revisor.nombre}}</td>
                        <td>{{revisor.primer_apellido}}</td>
                        <td>
                            {% if revisor.segundo_apellido %}
                                {{revisor.segundo_apellido}}
                            {% else %}
                                Sin segundo apellido       
                            {% endif %}            
                        </td>
                        <td>{{revisor.username}}</td>
                        <td>{{revisor.correo_electronico}}</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="Selected" name="{{revisor.id}}">
                            </div>   
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-lg" id="id_aceptar">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock contenido %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/controlador-checkboxes.js' %}"></script>
{% endblock js %}