<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva publicación</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            Archivo: {{form.archivo}}
        </p>
        <p>
            Título: {{form.titulo}}
        </p>
        <input type="submit" id="submit" name="submit" value="Enviar archivo a revisión">
    </form>
</body>
</html>