{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Detalles de la revisión
{% endblock titulo %}


{% block encabezado %}
<div class="row align-items-center justify-content-between" id="id_encabezado">
    <div class="col-md-9" id="titulo_mis_publicaciones">
        Detalles de la revisión
    </div>
</div>
{% endblock encabezado %}

{% block contenido %}
    <b id="id_titulo">Título de la publicación:</b> {{revision.publicacion.titulo}}
    <br>
    <b id="id_autor">Autor:</b> {{revision.publicacion.autor.nombre}} {{revision.publicacion.autor.primer_apellido}} {{revision.publicacion.autor.segundo_apellido}}
    <br>
    <b id="id_estado">Estado de la revisión:</b> {{revision.estado.descripcion}}
    <br>
{% endblock contenido %}
    