{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Nuevo usuario
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>Nuevo usuario</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" id="id_guardar">Guardar</button>
                <a class="btn btn-secondary" href="{% url 'usuarios:lista' %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock contenido %}