{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Lista de usuarios
{% endblock titulo %}

{% block encabezado %}
<div class="container">
    {% block mensajes %}    
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <script>
                            Swal.fire({
                                title:'{{message}}',
                                icon:'success'
                            })
                        </script>
                    {% elif message.tags == 'error' %}
                        <script>
                            Swal.fire({
                                title:'{{message}}',
                                icon:'error'
                            })
                        </script>
                    {% elif message.tags == 'info' %}
                        <script>
                            Swal.fire({
                                title:'{{message}}',
                                icon:'info'
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock mensajes %}
    <div class="row align-items-center justify-content-between">
        <div class="col-md-9">
            Lista de usuarios
        </div>
        <div class="col-md-auto">
            <a class="btn btn-primary btn-lg" href="{% url 'usuarios:nuevo' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Nuevo usuario
            </a>
        </div>
    </div>
</div> 
{% endblock encabezado %}

{% block contenido %}
<div class="card mb-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Nombre de usuario</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in object_list  %}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.primer_apellido}}</td>
                    <td>
                        {% if usuario.segundo_apellido %}
                            {{usuario.segundo_apellido}}
                        {% else %}
                            Sin segundo apellido       
                        {% endif %}            
                    </td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.correo_electronico}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido %}